#index p.rubric { font-size:150%; font-weight:normal; margin-bottom:.2em; color:#487858; }

#index div.section dt { font-weight: normal; }

#index #s-obtendo-ajuda { float: right; width: 35em; background: #E1ECE2; padding: 1em; margin: 2em 0 2em 2em; }
#index #s-obtendo-ajuda h2 { margin: 0; }

#index #s-documenta-o-do-django div.section div.section h3 { margin: 0; }
#index #s-documenta-o-do-django div.section div.section { background: #E1ECE2; padding: 1em; margin: 2em 0 2em 40.3em; }
#index #s-documenta-o-do-django div.section div.section a.reference { white-space: nowrap; }

#index #s-utilizando-django dl,
#index #s-aplica-es-adicionais-contrib dl,
#index #s-resolvendo-problemas-espec-ficos dl,
#index #s-refer-ncia dl
    { float: left; width: 41em; }

#index #s-aplica-es-adicionais-contrib,
#index #s-solving-specific-problems,
#index #s-refer-ncia,
#index #s-and-all-the-rest
    { clear: left; }
